* {
    margin: 0;
}
h1 {
    color: #F1F1F1;
}
body {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;  
}
.promptblock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.taskblock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}